/*Section2*/

.section2 {
	height: 600px;
	background-image: url("../images/Vegetables-BG.jpg");
	background-size: cover;
	display: flex;
}
.left-div2 {
	width: 25%;
	opacity: 0.85;
	background-color: #fff;
	padding: 100px 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.section2-text {
	font-family: 'Shippori Mincho B1', serif;
	font-size: 36px;
	font-weight: 700;
	color: #555353;
	text-align: justify;
}
.section2-button {
	font-family: 'Shippori Mincho B1', serif;
	background-color: #adc743;
	color: #fff;
	padding: 10px 30px;
	transition: all, ease-in, 0.5s;
	white-space: nowrap;
}
.section2-button:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background-color: #6b7a2b;
}

/*Section3 - grid*/

.grid-container {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(20, 5%);
	grid-template-rows: repeat(31, 68px);
}
.el1 {
	background-image: url(../images/girl.jpg);
	background-size: cover;
	grid-area: 1 / 1 / 8 / 6;
}
.el2 {
	background-color: #f0f0f0;
	grid-area: 1 / 6 / 8 / 21;
	padding: 80px 150px;
	font-family: 'Shippori Mincho B1', serif;
}
.el2 > p {
	transform: translateY(-30px);
	text-align: justify;
}
.el2 > a {
	color: #adc743;
	transition: all, ease-in, 0.8s;
}
.el2 > a:hover {
	text-decoration: none;
	color: #adc743;
	transform: scale(1.1);
}
.el3 {
	background-color: #aca298;
	color: #fff;
	font-size: 24px;
	grid-area: 8 / 4 / 10 / 6;
	text-decoration: none;
	font-family: 'Shippori Mincho B1', serif;
	display: flex;
	justify-content: center;
	align-items: center;

}
.el3:hover {
	color: #fff;
	text-decoration: none;
}
.el4 {
	background-color: #adc743;
	grid-area: 8 / 6 / 13 / 16;
	padding: 50px 150px;
	font-size: 17px;
}
.el4 > a {
	color: #fff;
	font-size: 26px;
}
.el5 {
	background-image: url(../images/salad.jpg);
	background-size: cover;
	grid-area: 13 / 1 / 20 / 13;
}
.el6 {
	background-color: #adc743;
	grid-area: 20 / 8 / 22 / 10;
	align-items: center;
	color: #fff;
	font-family: 'Shippori Mincho B1', serif;
	font-size: 18px;
	transition: all, ease-in, 0.5s;
}
.el6:hover {
	color: #fff;
	background-color: #94a941;
}
.el7 {
	background-color: #f0f0f0;
	grid-area: 20 / 10 / 24 / 18;
	padding: 50px 70px;
}
.el7 > a {
	font-size: 24px;
	color: #555353;
}
.el7 > p {
	color: #696363;
}
.el8 {
	background-image: url(../images/apples.jpg);
	background-size: cover;
	grid-area: 24 / 3 / 32 / 10;
}

/*----------------footer---------------*/

.footer {
	display: grid;
	grid-template-columns: repeat(3, 33.333%);
	grid-template-rows: 250px 60px;
	background-image: url(../images/wooden-floor.jpeg);
	background-size: cover;
}
.f-el1 {
	border-right: 1px solid #adc743;
	margin: 50px 0;
	padding-right: 30px;
	align-items: flex-end;
	justify-content: center;
}
.f-el1 > * {
	color: #000;
}
.f-el2 {
	border-right: 1px solid #adc743;
	margin: 50px 0;
	padding-right: 30px;
	align-items: center;
}
.f-el2 > * {
	color: #000;
}
.f-el3 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 80px 0;

}
.f-el4 {
	grid-area: 2 / 1 / 3 / 4;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.f-el4 > p {
	margin: 0;
}

/*----------About-----------*/

.about-grid-container {
	height: 1000px;
	display: grid;
	grid-template-columns: repeat(10, 10%);
	grid-template-rows: repeat(10, 100px);
}
.about-el1 {
	grid-area: 1 / 1 / 5 / 5;
	background-image: url(../images/cooking.jpg);
	background-size: cover;
}
.about-el2 {
	grid-area: 1 / 5 / 8 / 10;
	background-color: #f0f0f0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 120px;
}
.about-el2 h3, .about-el3 h3 {
	margin-bottom: 50px;
	font-family: 'Shippori Mincho B1', serif;
}
.about-el2 p, .about-el3 p {
	font-family: 'Shippori Mincho B1', serif;
}
.about-el3 {
	grid-area: 5 / 2 / 11 / 5;
	background-color: #aca298;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*---------Services---------*/

.services-menu-divs {
	justify-content: center;
	padding: 30px 0;
}
.services-menu-div1{
	margin-right: 40px;
}
.services-menu-div2 {
	margin-left: 40px;
}
.btn-services1, .btn-services2 {
	font-family: 'Shippori Mincho B1', serif;
	font-weight: 700;
	color: #555353;
	border-bottom: 1px solid rgba(173,199,67, 0);
	transition: border-bottom, ease-in, 0.5s;
	cursor: pointer;
}
.btn-services1:hover {
	color: #000;
}
.btn-services2:hover {
	color: #000;
}
.active-btn {
	border-bottom: 1px solid rgba(173,199,67, 1);
	color: #000;
}

.main-container-options {
	flex-wrap: wrap;
	max-width: 1000px;
}
.option-container-A, .option-container-B {
	width: 300px;
	height: 450px;
	border: 1px solid #d9d9d9;
	margin-bottom: 30px;
}
.option-container1 {
	width: 100%;
	height: 50%;
	background-size: cover;
	transition: filter, ease-in, 0.5s;
}
.option-container2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
	height: 50%;
}
.option-container2 > :first-child {
	font-family: 'Shippori Mincho B1', serif;
	font-size: 20px;
	font-weight: 700;
	color: #555353;
	text-align: center;
}
.BG-option1 {
	background-image: url(../images/cooking1.jpg);
}
.BG-option2 {
	background-image: url(../images/cooking2.jpg);
}
.BG-option3 {
	background-image: url(../images/cooking3.jpg);
}
.BG-option4 {
	background-image: url(../images/cooking4.jpg);
}
.BG-option5 {
	background-image: url(../images/cooking5.jpg);
}
.BG-option6 {
	background-image: url(../images/cooking6.jpg);
}
.BG-option7 {
	background-image: url(../images/cooking7.jpg);
}
.BG-option8 {
	background-image: url(../images/cooking8.jpg);
}
.BG-option9 {
	background-image: url(../images/cooking9.jpg);
}
.option-container1:hover {
	filter: brightness(50%);
}


/*------Plans-----*/
.main-container-plans {
	flex-direction: row;
}
.plan-containers {
	padding-top: 50px;
}
.plan-containers p {
	font-family: 'Shippori Mincho B1', serif;
}
.plan-container {
	width: 300px;
	height: 650px;
	margin-bottom: 30px;
}
.plan-container1 {
	width: 100%;
	height: 50%;
	background-size: cover;
	transition: filter, ease-in, 0.5s;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #d9d9d9;
	padding: 20px 20px;

}
.plan-container2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 20px 20px;
	height: 50%;
	border: 1px solid #d9d9d9;
	border-top: none;
}
.plan-p1 {
	font-size: 20px;
	font-weight: 700;
}
.plan-p2 {
	text-align: center;
	font-size: 15px;
}
.plan-p3 {
	font-size: 12px;
	color: #222;
}
.section2-button-plans {
	padding: 12px 70px;
}
.plan-price-wrap > :first-child {
	font-size: 20px;
	position: relative;
	top: -50px;
}
.plan-price-wrap > :last-child {
	font-size: 70px;
}


/*---------Blog-------*/
.blog-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.blog-search-section {
	display: flex;
	justify-content: space-between;
	height: 64px;
	padding: 0 30px;
}
.filter-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 400px;
}
.filter-div > a {
	text-decoration: none;
	font-size: 13px;
	color: #000;
	transition: all ease-in 0.3s
}
.filter-div > a:hover {
	color: #adc743;
}
.search-icon {
	width: 20px;
	height: auto;
}
.a-search-icon {
	display: flex;
	align-items: center;
}

.blog-section {
	padding: 25px 20px;
}
.blog-item {
	min-width: 300px;
	max-width: 400px;
	margin-bottom: 30px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 300px 50px 260px 50px;
}
.blog-grid-1 {
	background-image: url(../images/blog-img-1.jpg);
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
}
.blog-grid-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 20px;
	position: relative;
}
.blog-grid-2 img {
	width: 30px;
	height: 30px;
}
.blog-grid-2 p {
	font-size: 14px;
	align-self: flex-end;
}
.blog-grid-2 > :first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 130px;
}
.blog-grid-3 {
	padding: 0 20px;
	text-align: justify;
	cursor: pointer;
	position: relative;
 	overflow: hidden;
}
.blog-grid-3:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}
.blog-grid-3:hover > p {
	color: #adc743;
}
.blog-grid-3 > p {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	transition: all ease-in 0.2s;
}
.blog-grid-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	border-top: solid 1px #cccaca;

}
.blog-grid-4 > :first-child {
	display: flex;
	justify-content: space-between;
	min-width: 160px;
}
.blog-grid-4 > :last-child {
	display: flex;
	justify-content: space-around;
}
.blog-grid-4 > :last-chil > p {
	margin-left: 10px;
}
.blog-grid-4-heart > :last-child {
	width: 25px;
	height: auto;
}
.three-dots {
	cursor: pointer;
	
}
.dropdownMenu {
	width: auto;
	height: auto;
	position: absolute;
	right: 60px;
	top: 0px;
	background-color: #adc743;
	cursor: pointer;
	transition: all ease-in 0.3s;
}
.blog-grid-1-2{
	background-image: url(../images/blog-img-2.jpg);
}
.blog-grid-1-3{
	background-image: url(../images/blog-img-3.jpg);
}
.blog-grid-1-4{
	background-image: url(../images/blog-img-4.jpg);
}
.blog-grid-1-5{
	background-image: url(../images/blog-img-5.jpg);
}
.blog-grid-1-6{
	background-image: url(../images/blog-img-6.jpg);
}


/*CSS for blog-moadl*/
.blog-modal * {
	margin-bottom: 20px;
}
.blog-modal-box {
	border-left: solid 3px #adc743;
}
.blog-modal-box p, .blog-modal-box h5 {
	margin-left: 20px;
}
.blog-modal img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.blog-modal-btn {
	background-color: #adc743;
}
.close span {
	color: #adc743;
}